@import "~/.config/rofi/config.rasi"
mainbox { 
  children:    [ "listbox" ];
}
entry {
  width: 30%;
  placeholder: "        CTRL+Del to wipe one entry     SUPER+Del to wipe all entry";
}
listview {
  columns: 1;
  lines: 8;
}
